/* Search Component */

.searchWrapper{
	.formEl{
		.checkBoxContainer{
			display: flex;
			justify-content: center;
			justify-content: space-around;
		}
		.btnWrapper{
			display: flex;
			justify-content: center;
			.searchBtn{
			}
		}
	}
	.searchResultsContainer{
		text-align: center;
	}
}